# Images ignorées par défaut
*.jpg
*.jpeg
*.png
*.webp
*.tif
*.tiff
*.bmp
*.gif
*.heic
*.raw
*.cr2
*.cr3

# Archives inutiles
*.zip
# -------------------------
# Exception : photos publiques exportées
# -------------------------
!docs/
!docs/photos/
!docs/photos/.gitkeep

!docs/photos/thumbs/
!docs/photos/thumbs/*.webp

!docs/photos/full/
!docs/photos/full/*.webp

# Données publiques générées
!docs/data/
!docs/data/photos.json